<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color:black">
    <a class="navbar-brand text-dark" href="dashboard"><b style="font-size: larger;">MOTOR MATE</b><span class="head"></span></a>
  
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto fs-5 text-dark">
        
       
          <li class="nav-item me-5 " id="nav_item">
            <a class="nav-link active text-dark  fw-bold" aria-current="page" href="dashboard">Home</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active text-dark fw-bolder" aria-current="page" href="aboutus">About</a>
          </li>		
          <li class="nav-item me-5">
            <a class="nav-link active text-dark fw-bolder" aria-current="page" href="services">Services</a>
          </li>	
          <li class="nav-item me-5">
            <a class="nav-link active text-dark fw-bolder" aria-current="page" href="contactus">Contact</a>
          </li>	
        
      </ul>
      
    </div>
  </nav>
 
 


<div class="section-title mt-5 pt-5">
    <h1  class="" >About   </h1>
    <p class="mt-4 container-fluid">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat odit magnam quam reprehenderit tempore assumenda dicta architecto nam expedita repudiandae dolore placeat, numquam laborum vero error, velit sint impedit. Omnis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit consequuntur minus laudantium nostrum sint iure aliquid, dolorem reiciendis consectetur esse impedit deserunt illum fuga a autem. In facilis voluptates quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quo ipsa voluptate, delectus maiores ducimus officia totam adipisci corporis, fugiat inventore quaerat quis molestias ut voluptas minus, illum id incidunt. lorem 
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi officia enim dignissimos, temporibus nesciunt maiores hic sit, cumque et facere quaerat! Assumenda animi commodi cumque voluptatem nulla libero deserunt temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquam labore amet voluptatibus. Tenetur doloremque nostrum recusandae! Cumque in dolores, porro, optio, quibusdam dolorum eius veniam sequi earum atque ea!   </p>
</div>






<!-- aboutus -->

<div class="container">
    <div class="section-title">
        <h2>Our Team </h2>
    </div>

    <div class="row">


        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://i.postimg.cc/V6HPWyhM/team-1.jpg" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Steven</h2>
                    <h3>CEO & Founder</h3>
                    <p>Some text goes here that describes about team members</p>
                    <h4>abc@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    <!-- <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://i.postimg.cc/mrpT8Fzt/team-2.jpg" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Alexa</h2>
                    <h3>Art Director</h3>
                    <p>Some text goes here that describes about team members</p>
                    <h4>abc@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    <!-- <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://i.postimg.cc/ZKz47mRF/team-3.jpg" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>John</h2>
                    <h3>Developer</h3>
                    <p>Some text goes here that describes about team members</p>
                    <h4>abc@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    <!-- <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="https://i.postimg.cc/cJzNQy23/team-4.jpg" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Jennifer</h2>
                    <h3>Designer</h3>
                    <p>Some text goes here that describes about team members</p>
                    <h4>abc@gmail.com</h4>
                </div>
                <div class="team-social">
                    <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                    <!-- <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a> -->
                </div>
            </div>
        </div>

    </div>

</div>


<!-- --------------footer---------- -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>MOTOR MATE
            </h6>
            <p>
              We are happy to hear from you. Kindly share your experience with us
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">SUV</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Hatchback</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sedan</a>
            </p>
            <p>
              <a href="#!" class="text-reset">MPV</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">motormate.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  
    
  
    
  