<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" href="dashboard"><b style="font-size: larger;">MOTOR MATE</b><span class="head"></span></a>


  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto fs-5">
      
     
        <li class="nav-item me-5 " id="nav_item">
          <a class="nav-link active  fw-bold" aria-current="page" href="dashboard">Home</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link active fw-bolder" aria-current="page" href="aboutus">About</a>
        </li>		
        <li class="nav-item me-5">
          <a class="nav-link active fw-bolder" aria-current="page" href="services">Services</a>
        </li>	
        <li class="nav-item me-5">
          <a class="nav-link active fw-bolder" aria-current="page" href="contactus">Contact</a>
        </li>	
      
    </ul>
    
  </div>
  </nav>


<div class="services pd">
    <div class="container">
      <h3 class="title">Services</h3>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="square"><i class="fas fa-code"></i></div>
          <div class="serv">
            <h5>Clean handling</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="serv">
            <div class="square"><i class="fas fa-cogs"></i></div>
            <h5>Our own service team</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="square"><i class="fas fa-globe"></i></div>
          <div class="serv">
            <h5>Global service</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="square"><i class="fas fa-user-shield"></i></div>
          <div class="serv">
            <h5>Safest Journey</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------footer---------- -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>MOTOR MATE
          </h6>
          <p>
            We are happy to hear from you. Kindly share your experience with us
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">SUV</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hatchback</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Sedan</a>
          </p>
          <p>
            <a href="#!" class="text-reset">MPV</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">motormate.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

  

  

