<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-4" href="dashboard"><b style="font-size: larger;">MOTOR MATE</b><span class="head"></span></a>
  
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto fs-5">
        
       
          <li class="nav-item me-5 " id="nav_item">
            <a class="nav-link active  fw-bold" aria-current="page" href="dashboard">Home</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active fw-bolder" aria-current="page" href="aboutus">About</a>
          </li>		
          <li class="nav-item me-5">
            <a class="nav-link active fw-bolder" aria-current="page" href="services">Services</a>
          </li>	
          <li class="nav-item me-5">
            <a class="nav-link active fw-bolder" aria-current="page" href="contactus">Contact</a>
          </li>	
        
      </ul>
      
    </div>
  </nav>




<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Contact Us</h2>
            <input type="text" class="field" placeholder="Your Name">
            <input type="text" class="field" placeholder="Your Email">
            <input type="text" class="field" placeholder="Phone">
            <textarea placeholder="Message" class="field"></textarea>
            <button class="btn" (click)="sendResponse()">Send</button>
        </div>
    </div>
</div>